.title{
    font-size: 36px;
    line-height: 48px;
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
}

.bg-img{
    background-size: cover;
    background-position: center;
    background-repeat: none;
}