.searchCafe {
  margin-right: 0 !important;
  @include media-breakpoint-up(lg) {
    margin-right: 27px !important;
  }
}
.nav-profile {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.nav-logo path {
  stroke: white;
}

.footer {
  &__item {
    width: 100%;
    a {
      font-size: 18px !important;
      line-height: 22px !important;
    }
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }
  &__icon {
    width: 32px;
    @include media-breakpoint-up(md) {
      width: 40px;
    }
  }
}

.loading {
  path {
    stroke-dasharray: 30px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  to {
    stroke-dashoffset: 120px;
  }
}
