.searchCafe{
    margin-right: 27px!important;
}

.footer{
    &__item{
        width: 100%;
        a{
            font-size: 18px!important;
            line-height: 22px!important;
        }
        @include media-breakpoint-up(md){
            width: auto;
        }
    }
    &__icon{
        width: 32px;
        @include media-breakpoint-up(md){
            width: 40px;
        }
    }
}