@each $key, $value in map-merge($spacers, $percentage){
    .w-#{$key}{
        width: $value!important;
    }
    .h-#{value}{
        height: $value!important;
    }
}

@each  $breakpoint in map-keys($grid-breakpoints) {
    @each $key, $value in map-merge($spacers, $percentage){
        .w-#{$breakpoint}-#{$key}{
            @include media-breakpoint-up($breakpoint){
                width: $value!important;
            }
        }
        .h-#{$breakpoint}-#{$key}{
            @include media-breakpoint-up($breakpoint){
                height: $value!important;
            }
        }
    }
}

.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}