.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &-login {
    background-image: url('../../public/images/login-bg.jpg');
  }
  &-signup {
    background-image: url('../../public/images/signup-bg.jpg');
  }
}

.bg-auth {
  background-color: rgba(255, 255, 255, 0.8);
}
