.btn-hover {
  transition: all 0.25s ease;
  &.btn-hover {
    &-pill:hover {
      border-radius: 50rem !important;
    }
  }
}

.hover {
  transition: all 0.25s ease;
  &-show {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  @each $key, $value in $theme_colors {
    &.hover-text-#{$key}:hover {
      color: $value !important;
    }
  }
}

.pointer {
  cursor: pointer;
}

.z {
  &-1 {
    z-index: 1;
  }
}
