.addCafe {
  &__name {
    display: flex;
    justify-content: space-between;
  }
  display: block;
  label {
    display: block;
    @include fz(24px);
    margin-bottom: 20px;
  }

  &__item {
    margin-left: 12px;
    @include fz(24px);
    select,
    button {
      font-size: inherit;
      line-height: inherit;
    }
  }

  .submit {
    @include fz(24px);
    display: block;
    margin: 0 auto;
  }
}
.timeDisplay {
  @include fz(24px);
  p {
    margin-bottom: 12px;
  }
}
