.banner{
    background-image: url('../../../public/img/banner_mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    min-height: 350px;
    @include media-breakpoint-up(md){
        background-image: url('../../../public/img/Frame4.png');
        min-height: 645px;
    }
    &__title{
        font-size: 2rem;
        @include media-breakpoint-up(md){
            font-size: 3.5rem;
        }
    }
    &__search{
        width: 100%;
        @include media-breakpoint-up(md){
            width: 62%;
        }
        @include media-breakpoint-up(lg){
            width: 36%;
        }
    }
}

.cafeintro{
    background-color: #F7F6F6;
    &__img{
        width: 100%;
        @include media-breakpoint-up(md){
            width: 55%;
        }
    }
}